/*banner principal*/

.banner-principal {
    background-image: url(../imagens/bg-banner.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 100%;
}
.banner {
    padding-top: 6rem;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 