* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 40px;
}

.conteudo {
    width: 80%;
    max-width: 1140px;
    min-width: 60%;
    margin: 0 auto 0 auto;
}

.bloco-de-recursos {
    text-align: center;
    width: 33%;
    margin: 50px 0px 15px 0px;

}

.bloco-de-recursos i {
    font-size: 48px;
}

.cor-verde {
    color: #28F5BE;
}

.cor-rosa {
    color: palevioletred;
}

.titulo-bloco-de-recursos {

    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
}

.todos-os-blocos-de-recursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.titulo-de-sessao {
    width: 50%;
    margin: 0 auto;
    text-align: center ;
}

.titulo {
    margin: 8px 0px;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
}

.sub-titulo {
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
}

/*Cabeçalho*/
.cabecalho {
    background-color: white;
    box-shadow: 0px 1px 0px #E5E9F2;
    padding: 26px 0px;
    
}
.conteudo-do-header,
.conteudo-conquistas,
.blocos-de-numeros {
    display:flex;
    justify-content: space-between;
}
.informacoes-do-cabecalho,
.informacoes-do-cabecalho nav {
    display: flex;
    align-items: center;
}

.informacoes-do-cabecalho img,
.informacoes-do-cabecalho nav a {
    margin-right: 32px;
}

.informacoes-do-cabecalho nav {
    align-items: center;
}
.informacoes-do-cabecalho nav a {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #000;
}

.botoes-lojas a {
    margin-right: 12px;
    text-decoration: none;
}


/*Geral*/

.titulo-principal {
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    margin-bottom: 32px;
}

.botao {
    background: #28F5BE;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    padding: 16px 67px
}
.botao:hover {
    background: violet;
}

/*banner principal*/

.banner-principal {
    background-image: url(../imagens/bg-banner.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 100%;
}
.banner {
    padding-top: 96px;
    margin-bottom: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}   

/* Nossas conquistas*/

.todas-nossas-conquistas {
    padding-top: 82px;
    padding-bottom: 82px;
}

.coluna,
.blocos-de-conquistas {
    width: 45%;
}

.blocos-de-numeros {
    flex-wrap: wrap;
}

.blocos-de-conquistas,
.conteudo-vamos-la {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.blocos-de-conquistas i {
    font-size: 26px;
    margin-right: 16px;
}   

/* Vamos lá*/
.conteudo-vamos-la {
    justify-content: space-between;
}

.link-roxo {
    font-size: 20px;
    font-weight: bold;
    color: #9B51E0;
    text-decoration: none;
    margin-top: 32px;
    display: block;
    align-items: center;
}
.link-roxo i {
    margin-left: 8px;
    margin-top: 3px;
    display: block;
}